@model SalesSystem.Models.Gown

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Gown</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateRented" class="control-label"></label>
                <input asp-for="dateRented" class="form-control" />
                <span asp-validation-for="dateRented" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dueDate" class="control-label"></label>
                <input asp-for="dueDate" class="form-control" />
                <span asp-validation-for="dueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateReturned" class="control-label"></label>
                <input asp-for="dateReturned" class="form-control" />
                <span asp-validation-for="dateReturned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pickupDate" class="control-label"></label>
                <input asp-for="pickupDate" class="form-control" />
                <span asp-validation-for="pickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact" class="control-label"></label>
                <input asp-for="contact" class="form-control" />
                <span asp-validation-for="contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="orNumber" class="control-label"></label>
                <input asp-for="orNumber" class="form-control" />
                <span asp-validation-for="orNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="partialPayment" class="control-label"></label>
                <input asp-for="partialPayment" class="form-control" />
                <span asp-validation-for="partialPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="balance" class="control-label"></label>
                <input asp-for="balance" class="form-control" />
                <span asp-validation-for="balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="securityDeposit" class="control-label"></label>
                <input asp-for="securityDeposit" class="form-control" />
                <span asp-validation-for="securityDeposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
